<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>using HTML in pug</title> -->
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>
<div class="container">
    <h1>this is form for class</h1>
<!-- 
    <p>
        | #{content} ===== Another way to add plain text to templates is to prefix a line with a pipe character (|). This method is useful for mixing plain text with inline tags, as we discuss later, in the Whitespace Control section. 
    </p> -->
<form action="/"  method="post" id='contact'> 
    <!-- method="post" yah sabhi input kiye hue parametes(data) ko app.js ke post end-poni hat le jayega -->
    <input type="text" name="name" id="name" placeholder="enter your name">
    <input type="text" name="age" id="age" placeholder="enter your age">
    <input type="text" name="gender" id="gender" placeholder="enter your gender">

    <textarea name="address" id="address" cols="30" rows="10"  placeholder="enter your address"></textarea>
    <textarea name="more" id="mode" cols="30" rows="10"  placeholder="more about you.."></textarea>

    <button class="btn">submit</button>
</form>
</div>
</body>
</html>